[submodule "ydlidar_ros"]
	path = ydlidar_ros
	url = https://github.com/YDLIDAR/ydlidar_ros.git
[submodule "raspicam_node"]
	path = raspicam_node
	url = https://github.com/UbiquityRobotics/raspicam_node.git
